h1 {
    color: blue;
    background: greenyellow;
    font-family: 'Courier New', Courier, monospace;
}

.clasemedia {
    color: brown;
    background: greenyellow;
}

.clasealta {
    color: cornflowerblue;
    background: gray;
}