.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #59B4C3;
}

/* Atributo de tipo pseudoclase */
p:before {
    content: attr(type);
    display: block;
    margin: 3px 2px;
    font-size: 15px;
    color: #211C6A;
}

/* Selector de tipo elemento*/
input {
    width: 249px;
    border: none;
    border-bottom: 2px solid #211C6A;
    background: none;
}

input:focus {
    outline: none; /* Para quitar marco al hacer clic */
    border-bottom: 2px solid #59B4C3;
}

h2 {
    margin: 10px 2px;
    width: 180px;
    color: #6f7239;
    border-bottom: 2px solid #6f7239;
}

.form {
    width: 350px;
    height: 400px;
    background: rgb(189, 189, 189);
    border-radius: 30px;
    padding: 25px 35px;
    box-shadow: 0 0 40px 5px #000;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

button {
    padding: 10px 20px;
    background: #78788c;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}